body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  background-color: rgb(44, 41, 38);
}

a {
  text-decoration: none;
}

#main-header {
  height: 5rem;
  /* 자식 콘텐츠를 플랙스 방식으로 표시 */
  display: flex;
  /* 공간 내 최대한 펼쳐지도록 표시 */
  justify-content: space-between;
  /* 각 콘텐츠 중앙선 기준 같은 높이에 정렬 */
  align-items: center;

  background-color: rgb(29, 26, 24);

  padding: 0 5%;
}

#logo {
  font-size: 24px;
  font-weight: bold;
  color: rgb(238, 164, 80);
  text-transform: uppercase;
}

.menu-btn {
  width: 3rem;
  height: 3rem;
  flex-direction: column;
  justify-content: space-around;
  display: none;
}

.menu-btn span {
  width: 100%;
  height: 3px;
  background-color: white;
}

#main-header ul {
  /* 리스트 블릿 없애기  */
  list-style: none;
  /* 리스트 콘텐츠의 flex화 */
  display: flex;
  margin: 0;
  padding: 0;
}

#main-header li {
  margin: 0 1rem;
}

#main-header nav a {
  color: rgb(238, 164, 80);
  font-size: 1.25rem;
  font-weight: bold;
}

#main-header nav a:hover {
  color: rgb(233, 189, 139);
}

#side-drawer {
  width: 100%;
  height: 100%;
  background-color: rgb(29, 26, 27);
  position: fixed;
  top: 0;
  left: 0;
  display: none;
}

#side-drawer:target {
  display: block;
}

#side-drawer header {
  height: 5rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 5%;
}

#side-drawer ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 4rem 1rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#side-drawer li {
  margin: 1rem 0;
}

#side-drawer a {
  color: rgb(253, 239, 213);
  font-size: 2rem;
  font-weight: bold;
}

main h1 {
  text-align: center;
  color: rgb(238, 164, 80);
  font-size: 3rem;
}

#latest-products {
  /* 이 콘텐츠는 전체 넓이의 80%를 차지함 */
  width: 80%;
  margin: 2rem auto;
}

#latest-products ul {
  /* 그리드 타입 디스플레이 */
  display: grid;

  /* 숫자 비율대로 2 열 짜리 그리드를 구성 */
  grid-template-columns: 1fr 1fr;

  /* 숫자 비율대로 3 열 짜리 그리드를 구성 */
  /* grid-template-columns: 1fr 1fr 1fr; */

  list-style: none;

  /* grid 간 거리 설정 */
  gap: 1rem;
  padding: 0;
}

.food-item {
  background-color: rgb(228, 206, 182);
  border-radius: 6px;

  /* 왠지는 모르겠는데 이러면 border-radius가 이미지에도 적용됨 */
  overflow: hidden;
}

.food-item img {
  height: 240px;

  /* 고유 스페이스의 100%를 차지하도록 수정 */
  width: 100%;

  /* 원본 비율을 유지하되 나머지가 잘리도록 */
  object-fit: cover;
}

.food-item-content {
  /* padding: 16px; */
  padding: 1rem;
  text-align: center;
}

.food-item h2 {
  margin: 0 0 1rem 0;
}

h2 {
  /* 부모의 폰트 사이즈를 100% 상속 */
  /* 현재 부모는 div.food-item-content */
  /* 부모가 2em인데, 자식도 2em이면 효과는 4em! */
  /* font-size: 2em; */

  /* rem : 항상 루트(최상위 요소)의 폰트 사이즈를 상속함 */
  /* 다른 부모의 영향을 절대 받지 않음 */
  font-size: 2rem;
}

.btn {
  background-color: rgb(228, 157, 44);
  color: white;
  border-radius: 4px;
  padding: 0.5rem 1.5rem;
}

.btn:hover {
  background-color: rgb(221, 134, 34);
}

/* 최대 768픽셀인 경우까지 아래의 미디어 쿼리를 적용 */
@media (max-width: 48rem) {
  #latest-products ul {
    grid-template-columns: 100%;
  }

  body > main > h1 {
    font-size: 1.5rem;
  }

  #main-header > nav {
    display: none;
  }

  .menu-btn {
    display: flex;
  }
}
